nifi-flows/Evernote_LLM_Chatbot_Web_Service.json
{"flowContents":{"identifier":"91927060-5201-3cea-9154-f31f4883f71b","instanceIdentifier":"c65c41d5-0188-1000-2d7a-67ac831148fb","name":"Evernote LLM Chatbot Web Service","comments":"","position":{"x":184.0,"y":616.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3a7dab84-dc52-33fa-a2cb-b2803e804888","instanceIdentifier":"e3b53b39-0188-1000-8947-3d06f42ca6f2","name":"Audit Chat Question & Answer","comments":"","position":{"x":1448.0,"y":96.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91927060-5201-3cea-9154-f31f4883f71b"},{"identifier":"10dec8f3-8191-3df7-b5dc-bae2922a3318","instanceIdentifier":"c77a81df-0188-1000-0712-d15ad35c8ba7","name":"Get Chat Response from LLM","comments":"","position":{"x":944.0,"y":-112.0},"type":"python.GetChatResponseOpenAILLM","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"OpenAI API Key":"#{open_api_key}","Namepace":"#{pincone_evernote_namespace}","Pinecone API Key":"#{vector_database_service_api_key}","LLM temperature":"0","question":"${http.param.question}","User Name":"George","Number of Similar Documents to Return":"10","Index Name":"#{pinecone_evernote_index_name}","Pinecone Env Name":"#{vector_database_environment}","OpenAI Embedding Model":"text-embedding-ada-002","chat_history":"${http.param.chat_history}","OpenAI LLM Model":"gpt-3.5-turbo"},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true},"Namepace":{"name":"Namepace","displayName":"Namepace","identifiesControllerService":false,"sensitive":false},"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true},"LLM temperature":{"name":"LLM temperature","displayName":"LLM temperature","identifiesControllerService":false,"sensitive":false},"question":{"name":"question","displayName":"question","identifiesControllerService":false,"sensitive":false},"User Name":{"name":"User Name","displayName":"User Name","identifiesControllerService":false,"sensitive":false},"Number of Similar Documents to Return":{"name":"Number of Similar Documents to Return","displayName":"Number of Similar Documents to Return","identifiesControllerService":false,"sensitive":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false},"Pinecone Env Name":{"name":"Pinecone Env Name","displayName":"Pinecone Env Name","identifiesControllerService":false,"sensitive":true},"OpenAI Embedding Model":{"name":"OpenAI Embedding Model","displayName":"OpenAI Embedding Model","identifiesControllerService":false,"sensitive":false},"chat_history":{"name":"chat_history","displayName":"chat_history","identifiesControllerService":false,"sensitive":false},"OpenAI LLM Model":{"name":"OpenAI LLM Model","displayName":"OpenAI LLM Model","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91927060-5201-3cea-9154-f31f4883f71b"},{"identifier":"eba34700-dbab-327b-887d-fee0eb69c092","instanceIdentifier":"c65c41dd-0188-1000-2fa3-3950d90f7449","name":"Chatbot HTTP Endpoint","comments":"","position":{"x":568.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":"question,chat_history","Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"e5b235de-cfb1-333c-acde-98409c940870","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":"/evernotechatbot","Allow GET":"true","Allow HEAD":"false","Listening Port":"#{inbound_listen_port}","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91927060-5201-3cea-9154-f31f4883f71b"},{"identifier":"df5d2439-76f4-3fe1-8d05-280c90943863","instanceIdentifier":"c65c41da-0188-1000-61fc-2f9897431649","name":"Send Chat Answer as HTTP Response","comments":"","position":{"x":1424.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"HTTP Context Map":"e5b235de-cfb1-333c-acde-98409c940870","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"91927060-5201-3cea-9154-f31f4883f71b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"00537581-3537-3c51-ad60-5a0a40afa51b","instanceIdentifier":"e3bf547b-0188-1000-fc10-4fc5cca72f91","name":"Retry","source":{"id":"10dec8f3-8191-3df7-b5dc-bae2922a3318","type":"PROCESSOR","groupId":"91927060-5201-3cea-9154-f31f4883f71b","name":"Get Chat Response from LLM","comments":"","instanceIdentifier":"c77a81df-0188-1000-0712-d15ad35c8ba7"},"destination":{"id":"10dec8f3-8191-3df7-b5dc-bae2922a3318","type":"PROCESSOR","groupId":"91927060-5201-3cea-9154-f31f4883f71b","name":"Get Chat Response from LLM","comments":"","instanceIdentifier":"c77a81df-0188-1000-0712-d15ad35c8ba7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1456.0,"y":-72.0},{"x":1456.0,"y":-16.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91927060-5201-3cea-9154-f31f4883f71b"},{"identifier":"2a9fa093-58e7-30c1-9455-8d707c94a21a","instanceIdentifier":"e3bb2d88-0188-1000-ca06-22f92770e977","name":"","source":{"id":"10dec8f3-8191-3df7-b5dc-bae2922a3318","type":"PROCESSOR","groupId":"91927060-5201-3cea-9154-f31f4883f71b","name":"Get Chat Response from LLM","comments":"","instanceIdentifier":"c77a81df-0188-1000-0712-d15ad35c8ba7"},"destination":{"id":"3a7dab84-dc52-33fa-a2cb-b2803e804888","type":"PROCESSOR","groupId":"91927060-5201-3cea-9154-f31f4883f71b","name":"Audit Chat Question & Answer","comments":"","instanceIdentifier":"e3b53b39-0188-1000-8947-3d06f42ca6f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91927060-5201-3cea-9154-f31f4883f71b"},{"identifier":"ce3fd36a-225e-3ae2-bc81-9ae4ae9dac8f","instanceIdentifier":"c77f151c-0188-1000-126f-595b290e4b92","name":"","source":{"id":"eba34700-dbab-327b-887d-fee0eb69c092","type":"PROCESSOR","groupId":"91927060-5201-3cea-9154-f31f4883f71b","name":"Chatbot HTTP Endpoint","comments":"","instanceIdentifier":"c65c41dd-0188-1000-2fa3-3950d90f7449"},"destination":{"id":"10dec8f3-8191-3df7-b5dc-bae2922a3318","type":"PROCESSOR","groupId":"91927060-5201-3cea-9154-f31f4883f71b","name":"Get Chat Response from LLM","comments":"","instanceIdentifier":"c77a81df-0188-1000-0712-d15ad35c8ba7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":824.0,"y":88.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91927060-5201-3cea-9154-f31f4883f71b"},{"identifier":"a61c4a28-9278-32af-8ce8-caffec658f58","instanceIdentifier":"c77f326a-0188-1000-6dd4-8a0c7696789f","name":"","source":{"id":"10dec8f3-8191-3df7-b5dc-bae2922a3318","type":"PROCESSOR","groupId":"91927060-5201-3cea-9154-f31f4883f71b","name":"Get Chat Response from LLM","comments":"","instanceIdentifier":"c77a81df-0188-1000-0712-d15ad35c8ba7"},"destination":{"id":"df5d2439-76f4-3fe1-8d05-280c90943863","type":"PROCESSOR","groupId":"91927060-5201-3cea-9154-f31f4883f71b","name":"Send Chat Answer as HTTP Response","comments":"","instanceIdentifier":"c65c41da-0188-1000-61fc-2f9897431649"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"91927060-5201-3cea-9154-f31f4883f71b"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"e5b235de-cfb1-333c-acde-98409c940870","instanceIdentifier":"c65c41d6-0188-1000-6773-0ec45a4b6012","name":"StandardHttpContextMap","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-SNAPSHOT"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"91927060-5201-3cea-9154-f31f4883f71b"}],"variables":{},"parameterContextName":"PersonalEvernoteChatBot","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"PersonalEvernoteChatBot":{"name":"PersonalEvernoteChatBot","parameters":[{"name":"open_api_key","description":"","sensitive":true,"provided":false},{"name":"vector_database_environment","description":"","sensitive":true,"provided":false},{"name":"pinecone_evernote_index_name","description":"","sensitive":false,"provided":false,"value":"book-demo"},{"name":"inbound_listen_port","description":"","sensitive":false,"provided":false,"value":"9898"},{"name":"vector_database_service_api_key","description":"","sensitive":true,"provided":false},{"name":"pincone_evernote_namespace","description":"","sensitive":false,"provided":false,"value":"evernote_export_via_api_9"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}