nifi-flows/Evernote_Vector_Embeddings_Ingestion_Pipeline.json
{"flowContents":{"identifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","instanceIdentifier":"ef36e0e3-0188-1000-91bf-546e47caf0fa","name":"Evernote Vector Embeddings Ingestion Pipeline","comments":"","position":{"x":-248.0,"y":616.0},"processGroups":[{"identifier":"5c09dffb-a736-3741-af30-713af906c0bb","instanceIdentifier":"f3017b6b-0188-1000-4174-5f30d7520c4b","name":"Filter for Non Confidential Notes","comments":"","position":{"x":344.0,"y":-120.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","instanceIdentifier":"f30268f4-0188-1000-3005-c5666c2d9982","name":"Filter for Non Secure Notes","comments":"","position":{"x":1576.0,"y":424.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"cache-schema":"true","dbf-default-precision":"10","Non Confidential Notes":"SELECT * FROM FLOWFILE where metadata_tags NOT LIKE '%SECURE%'","record-writer":"057ef80a-af1f-30a5-b899-bc089cad50cc","record-reader":"c0a22d2f-42c0-31e7-93dc-331e6f1bbf62","include-zero-record-flowfiles":"false","dbf-default-scale":"0","Confidential Notes":"SELECT * FROM FLOWFILE where metadata_tags LIKE '%SECURE%'"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Non Confidential Notes":{"name":"Non Confidential Notes","displayName":"Non Confidential Notes","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"Confidential Notes":{"name":"Confidential Notes","displayName":"Confidential Notes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"2c78fc30-8d79-36e7-ae9f-5ee98ec3b65b","instanceIdentifier":"f30268f5-0188-1000-db92-5a3255f0dce0","name":"Split Note JSON Objects","comments":"","position":{"x":1192.0,"y":16.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]\""},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"9ebf6f08-902b-3cd2-a7b9-df0b6155b47b","instanceIdentifier":"f30268f7-0188-1000-d576-6d5fe6effaa0","name":"MergeRecord","comments":"","position":{"x":1576.0,"y":224.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"10","max-bin-size":null,"record-writer":"057ef80a-af1f-30a5-b899-bc089cad50cc","merge-strategy":"Bin-Packing Algorithm","record-reader":"c0a22d2f-42c0-31e7-93dc-331e6f1bbf62","max-records":"100","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"f5789442-fc6e-3a14-86fb-a357dea04db3","instanceIdentifier":"f30268f6-0188-1000-b4d4-5045731dada5","name":"Flatten Note JSON","comments":"","position":{"x":1576.0,"y":16.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"page_content\": \"page_content\",\n      \"metadata\": {\n        \"*\": \"metadata_&\"\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"inputPorts":[{"identifier":"ad258ab6-10a2-331b-b9cd-3eaaa5c4e36e","instanceIdentifier":"f302b82f-0188-1000-4aec-43a0cef50f21","name":"Chunked Notes","comments":"","position":{"x":920.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"outputPorts":[{"identifier":"fcf9372c-4f56-3146-836b-f7f4a7a09e61","instanceIdentifier":"f303f17d-0188-1000-2097-f65789f0215a","name":"Confidential Notes","position":{"x":1776.0,"y":648.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"71a49f0c-a3c0-3d17-a1ed-537beedf7d3f","instanceIdentifier":"f304387f-0188-1000-d30a-8f11324a8867","name":"Non-Confidential Notes","position":{"x":1384.0,"y":648.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"connections":[{"identifier":"81972db6-4803-3e0b-ad93-5c69d689056e","instanceIdentifier":"f303a737-0188-1000-99b1-6fb7a6bc3792","name":"","source":{"id":"9ebf6f08-902b-3cd2-a7b9-df0b6155b47b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"MergeRecord","comments":"","instanceIdentifier":"f30268f7-0188-1000-d576-6d5fe6effaa0"},"destination":{"id":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Filter for Non Secure Notes","comments":"","instanceIdentifier":"f30268f4-0188-1000-3005-c5666c2d9982"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"36bd0e56-19a7-3c96-9b44-5fa40203d753","instanceIdentifier":"f303266b-0188-1000-e52c-9396d46470ed","name":"","source":{"id":"2c78fc30-8d79-36e7-ae9f-5ee98ec3b65b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Split Note JSON Objects","comments":"","instanceIdentifier":"f30268f5-0188-1000-db92-5a3255f0dce0"},"destination":{"id":"f5789442-fc6e-3a14-86fb-a357dea04db3","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Flatten Note JSON","comments":"","instanceIdentifier":"f30268f6-0188-1000-b4d4-5045731dada5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1504.0,"y":184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"6e203393-3c19-3708-a6df-540f788aa315","instanceIdentifier":"f30304ab-0188-1000-617f-3ebf9e5167cc","name":"","source":{"id":"ad258ab6-10a2-331b-b9cd-3eaaa5c4e36e","type":"INPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Chunked Notes","comments":"","instanceIdentifier":"f302b82f-0188-1000-4aec-43a0cef50f21"},"destination":{"id":"2c78fc30-8d79-36e7-ae9f-5ee98ec3b65b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Split Note JSON Objects","comments":"","instanceIdentifier":"f30268f5-0188-1000-db92-5a3255f0dce0"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1200.0,"y":176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"dea7224e-7ad6-3280-822d-f8e38e5b79bd","instanceIdentifier":"f3034aee-0188-1000-c37b-a786219d1025","name":"","source":{"id":"f5789442-fc6e-3a14-86fb-a357dea04db3","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Flatten Note JSON","comments":"","instanceIdentifier":"f30268f6-0188-1000-b4d4-5045731dada5"},"destination":{"id":"9ebf6f08-902b-3cd2-a7b9-df0b6155b47b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"MergeRecord","comments":"","instanceIdentifier":"f30268f7-0188-1000-d576-6d5fe6effaa0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"b2970db7-d9c6-3455-b2ef-1fc0255bc6c0","instanceIdentifier":"f30471d0-0188-1000-641f-b3f3ccdd57d5","name":"","source":{"id":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Filter for Non Secure Notes","comments":"","instanceIdentifier":"f30268f4-0188-1000-3005-c5666c2d9982"},"destination":{"id":"71a49f0c-a3c0-3d17-a1ed-537beedf7d3f","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Non-Confidential Notes","instanceIdentifier":"f304387f-0188-1000-d30a-8f11324a8867"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Non Confidential Notes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"73b2cce3-ffe7-33c7-ae50-a2e2ffe1662f","instanceIdentifier":"f30462a3-0188-1000-cebb-e1878d6cd21f","name":"","source":{"id":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Filter for Non Secure Notes","comments":"","instanceIdentifier":"f30268f4-0188-1000-3005-c5666c2d9982"},"destination":{"id":"fcf9372c-4f56-3146-836b-f7f4a7a09e61","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Confidential Notes","instanceIdentifier":"f303f17d-0188-1000-2097-f65789f0215a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Confidential Notes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"}],"remoteProcessGroups":[],"processors":[{"identifier":"3ab87ff2-404a-39b1-895e-749cb4618d70","instanceIdentifier":"ef36e0ea-0188-1000-a035-c73842560cff","name":"Create OpenAI Vector Embeddings","comments":"","position":{"x":144.0,"y":144.0},"type":"python.GetOpenAiVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"OpenAI API Key":"#{vector_embedding_model_service_api_key}","OpenAI Embedding Models":"text-embedding-ada-002","Chunk Size":"1000"},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true},"OpenAI Embedding Models":{"name":"OpenAI Embedding Models","displayName":"OpenAI Embedding Models","identifiesControllerService":false,"sensitive":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"1c658dc3-736b-3e59-81d7-43b17ac66243","instanceIdentifier":"ef36e0eb-0188-1000-e1cd-6b77a8bc2ab0","name":"Export Notes from Evernote","comments":"","position":{"x":216.0,"y":-504.0},"type":"python.ExportNotesFromEvernote","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Evernote Authentication Token":"#{evernote_auth_key}","Stack Filter":"#{evernote_stack_filter}","Export from Date/Time":"#{evernote_export_from_dtm}","Export Directory":"#{evernote_export_directory}"},"propertyDescriptors":{"Evernote Authentication Token":{"name":"Evernote Authentication Token","displayName":"Evernote Authentication Token","identifiesControllerService":false,"sensitive":true},"Stack Filter":{"name":"Stack Filter","displayName":"Stack Filter","identifiesControllerService":false,"sensitive":false},"Export from Date/Time":{"name":"Export from Date/Time","displayName":"Export from Date/Time","identifiesControllerService":false,"sensitive":false},"Export Directory":{"name":"Export Directory","displayName":"Export Directory","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"5b2318be-b0e6-3e42-b1ad-0493e2ce2049","instanceIdentifier":"ef36e0e8-0188-1000-c8b8-8f5513314392","name":"Get Evernote Note Path","comments":"","position":{"x":32.0,"y":-352.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Delete Attributes Expression":null,"pdfFile":"${absolute.path}/${filename}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"pdfFile":{"name":"pdfFile","displayName":"pdfFile","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"060b3db8-8c9b-38cf-8640-c70002e3465f","instanceIdentifier":"f308d744-0188-1000-d81a-7eae20b08a22","name":"Audit Secure Notes Not Embedded","comments":"","position":{"x":600.0,"y":144.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"136b6ea9-9ebb-3ec5-9430-a5f91bc3ca9b","instanceIdentifier":"ef36e0e5-0188-1000-118f-169fdc9b5306","name":"Store Vectors In Pinecone","comments":"","position":{"x":136.0,"y":320.0},"type":"python.PutPineconeVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Namepace":"#{pincone_evernote_namespace}","Pinecone API Key":"#{vector_database_service_api_key}","Batch Size":"100","Index Name":"#{pinecone_evernote_index_name}","Pinecone Env Name":"#{vector_database_environment}"},"propertyDescriptors":{"Namepace":{"name":"Namepace","displayName":"Namepace","identifiesControllerService":false,"sensitive":false},"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false},"Pinecone Env Name":{"name":"Pinecone Env Name","displayName":"Pinecone Env Name","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"169577d1-1f4d-3cd6-9f20-6106c85e6f85","instanceIdentifier":"ef43a534-0188-1000-76b9-e49b0f95ff74","name":"Listen for New Evernote Notes","comments":"","position":{"x":-344.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/Users/aju/Dev-Testing/evernotes","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"ffcfd197-d701-3864-8af3-f58030bba83a","instanceIdentifier":"ef36e0e9-0188-1000-73a1-513dfe7f35c5","name":"Trigger Evernote Export","comments":"","position":{"x":-320.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"a4af3302-1a00-3b05-b557-9e2308350346","instanceIdentifier":"ef36e0e6-0188-1000-c51f-d5da967d32e5","name":"Chunk Evernote Note","comments":"","position":{"x":408.0,"y":-352.0},"type":"python.SplitEvernoteText","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"PDF Document File":"${pdfFile}","Chunk Overlap":"100","Chunk Size":"1000"},"propertyDescriptors":{"PDF Document File":{"name":"PDF Document File","displayName":"PDF Document File","identifiesControllerService":false,"sensitive":false},"Chunk Overlap":{"name":"Chunk Overlap","displayName":"Chunk Overlap","identifiesControllerService":false,"sensitive":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1d2a6211-193b-3b19-9e20-e9a894f1f6a3","instanceIdentifier":"ef36e0ef-0188-1000-91db-da975efa5e58","name":"","source":{"id":"ffcfd197-d701-3864-8af3-f58030bba83a","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Trigger Evernote Export","comments":"","instanceIdentifier":"ef36e0e9-0188-1000-73a1-513dfe7f35c5"},"destination":{"id":"1c658dc3-736b-3e59-81d7-43b17ac66243","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Export Notes from Evernote","comments":"","instanceIdentifier":"ef36e0eb-0188-1000-e1cd-6b77a8bc2ab0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"471544b8-5745-3aa7-9e20-4ed1a8d77f95","instanceIdentifier":"ef36e0ee-0188-1000-94c9-37591c8d2e75","name":"","source":{"id":"136b6ea9-9ebb-3ec5-9430-a5f91bc3ca9b","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Store Vectors In Pinecone","comments":"","instanceIdentifier":"ef36e0e5-0188-1000-118f-169fdc9b5306"},"destination":{"id":"d31e5298-b5e3-3ade-b7ef-e54679f42dd4","type":"FUNNEL","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Funnel","comments":"","instanceIdentifier":"ef36e0e4-0188-1000-1c66-464c824458b1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"c968dc6e-675e-3255-b771-99fba457fcbd","instanceIdentifier":"f309200f-0188-1000-dfb6-0c91815f5917","name":"","source":{"id":"fcf9372c-4f56-3146-836b-f7f4a7a09e61","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Confidential Notes","instanceIdentifier":"f303f17d-0188-1000-2097-f65789f0215a"},"destination":{"id":"060b3db8-8c9b-38cf-8640-c70002e3465f","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Audit Secure Notes Not Embedded","comments":"","instanceIdentifier":"f308d744-0188-1000-d81a-7eae20b08a22"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"3240dadc-661e-3031-8069-817415634f19","instanceIdentifier":"ef43ba2a-0188-1000-bf66-63d5c9e40cd1","name":"","source":{"id":"169577d1-1f4d-3cd6-9f20-6106c85e6f85","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Listen for New Evernote Notes","comments":"","instanceIdentifier":"ef43a534-0188-1000-76b9-e49b0f95ff74"},"destination":{"id":"5b2318be-b0e6-3e42-b1ad-0493e2ce2049","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Get Evernote Note Path","comments":"","instanceIdentifier":"ef36e0e8-0188-1000-c8b8-8f5513314392"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-56.0,"y":-184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"0bdece58-a0c0-3419-bdb6-ac66d9d604be","instanceIdentifier":"ef36e0ed-0188-1000-cf08-10aef4178695","name":"","source":{"id":"3ab87ff2-404a-39b1-895e-749cb4618d70","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Create OpenAI Vector Embeddings","comments":"","instanceIdentifier":"ef36e0ea-0188-1000-a035-c73842560cff"},"destination":{"id":"d31e5298-b5e3-3ade-b7ef-e54679f42dd4","type":"FUNNEL","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Funnel","comments":"","instanceIdentifier":"ef36e0e4-0188-1000-1c66-464c824458b1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"3947d7d7-7577-34eb-a449-800b736d45e3","instanceIdentifier":"f3054e7c-0188-1000-333f-f32903f8647f","name":"","source":{"id":"a4af3302-1a00-3b05-b557-9e2308350346","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Chunk Evernote Note","comments":"","instanceIdentifier":"ef36e0e6-0188-1000-c51f-d5da967d32e5"},"destination":{"id":"ad258ab6-10a2-331b-b9cd-3eaaa5c4e36e","type":"INPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Chunked Notes","comments":"","instanceIdentifier":"f302b82f-0188-1000-4aec-43a0cef50f21"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"04e78ba8-ed3c-3ba9-9195-27f7a1b08564","instanceIdentifier":"f305bcca-0188-1000-175c-d3e270fef22b","name":"","source":{"id":"71a49f0c-a3c0-3d17-a1ed-537beedf7d3f","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Non-Confidential Notes","instanceIdentifier":"f304387f-0188-1000-d30a-8f11324a8867"},"destination":{"id":"3ab87ff2-404a-39b1-895e-749cb4618d70","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Create OpenAI Vector Embeddings","comments":"","instanceIdentifier":"ef36e0ea-0188-1000-a035-c73842560cff"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"bd7195bc-b6fe-3d60-a574-294809626593","instanceIdentifier":"ef36e0f1-0188-1000-ec8a-c44935fcfd28","name":"","source":{"id":"5b2318be-b0e6-3e42-b1ad-0493e2ce2049","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Get Evernote Note Path","comments":"","instanceIdentifier":"ef36e0e8-0188-1000-c8b8-8f5513314392"},"destination":{"id":"a4af3302-1a00-3b05-b557-9e2308350346","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Chunk Evernote Note","comments":"","instanceIdentifier":"ef36e0e6-0188-1000-c51f-d5da967d32e5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":320.0,"y":-176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"ea4a6150-5756-3daa-ac6d-da950fdf3f43","instanceIdentifier":"ef36e0f0-0188-1000-0f1d-fdbfed847573","name":"","source":{"id":"3ab87ff2-404a-39b1-895e-749cb4618d70","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Create OpenAI Vector Embeddings","comments":"","instanceIdentifier":"ef36e0ea-0188-1000-a035-c73842560cff"},"destination":{"id":"136b6ea9-9ebb-3ec5-9430-a5f91bc3ca9b","type":"PROCESSOR","groupId":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d","name":"Store Vectors In Pinecone","comments":"","instanceIdentifier":"ef36e0e5-0188-1000-118f-169fdc9b5306"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"}],"labels":[],"funnels":[{"identifier":"c20c28ea-0706-37f5-9b06-a2902a471da0","instanceIdentifier":"f2de4669-0188-1000-7570-0cd1b18e5b5f","position":{"x":-1024.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"c7a5472b-d876-3e36-b9cf-428c262f33cb","instanceIdentifier":"f08d081f-0188-1000-37f0-bdd4c6c271d9","position":{"x":480.0,"y":928.0},"componentType":"FUNNEL","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"332e3ae2-d940-3257-81dc-b3d9d752a43b","instanceIdentifier":"f2c09de2-0188-1000-30f3-b803eacc205d","position":{"x":-760.0,"y":72.0},"componentType":"FUNNEL","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"d31e5298-b5e3-3ade-b7ef-e54679f42dd4","instanceIdentifier":"ef36e0e4-0188-1000-1c66-464c824458b1","position":{"x":-152.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"}],"controllerServices":[{"identifier":"057ef80a-af1f-30a5-b899-bc089cad50cc","instanceIdentifier":"ef395c42-0188-1000-9218-b8d0e5680bc2","name":"EvernoteJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-SNAPSHOT"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"schema-text":"#{evernote_schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-SNAPSHOT"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"},{"identifier":"c0a22d2f-42c0-31e7-93dc-331e6f1bbf62","instanceIdentifier":"ef3902fa-0188-1000-c479-a1eb565ee96b","name":"EvernoteJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-SNAPSHOT"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"#{evernote_schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-SNAPSHOT"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1f3ceb12-480d-36b4-aa6b-8bfbbeb8e25d"}],"variables":{},"parameterContextName":"VectorEmbeddingsIngestion","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"VectorEmbeddingsIngestion":{"name":"VectorEmbeddingsIngestion","parameters":[{"name":"vector_database_environment","description":"","sensitive":true,"provided":false},{"name":"pinecone_evernote_index_name","description":"","sensitive":false,"provided":false,"value":"book-demo"},{"name":"evernote_export_directory","description":"","sensitive":false,"provided":false,"value":"/Users/aju/Dev-Testing/evernotes"},{"name":"evernote_stack_filter","description":"","sensitive":false,"provided":false,"value":"Home"},{"name":"vector_embedding_model_service_api_key","description":"","sensitive":true,"provided":false},{"name":"evernote_auth_key","description":"","sensitive":true,"provided":false},{"name":"evernote_export_from_dtm","description":"","sensitive":false,"provided":false,"value":"2010-06-21 12:00:00"},{"name":"vector_database_service_api_key","description":"","sensitive":true,"provided":false},{"name":"evernote_schema","description":"","sensitive":false,"provided":false,"value":"{\n  \"type\": \"record\",\n  \"name\": \"Note\",\n  \"fields\": [\n    {\n      \"name\": \"page_content\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"metadata_title\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"metadata_created\",\n      \"type\": \"long\"\n    },\n    {\n      \"name\": \"metadata_updated\",\n      \"type\": \"long\"\n    },\n    {\n      \"name\": \"metadata_tags\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"metadata_source\",\n      \"type\": \"string\"\n    }\n  ]\n}"},{"name":"pincone_evernote_namespace","description":"","sensitive":false,"provided":false,"value":"evernote_export_via_api_9"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}