nifi-flows/Evernote_Vector_Embeddings_Ingestion_Pipeline.json
{"flowContents":{"identifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055","instanceIdentifier":"fdb7541d-0188-1000-5bde-59ae17b16a26","name":"Evernote_Vector_Embeddings_Ingestion_Pipeline","comments":"","position":{"x":488.0,"y":376.0},"processGroups":[{"identifier":"5c09dffb-a736-3741-af30-713af906c0bb","instanceIdentifier":"71d17200-b7ca-3b17-9c27-f2a661da2d21","name":"Filter for Non Confidential Notes","comments":"","position":{"x":344.0,"y":-120.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","instanceIdentifier":"bc99c280-316b-3cef-23f3-8afb5592e2ec","name":"Filter for Non Secure Notes","comments":"","position":{"x":1576.0,"y":424.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"cache-schema":"true","dbf-default-precision":"10","Non Confidential Notes":"SELECT * FROM FLOWFILE where metadata_tags NOT LIKE '%SECURE%'","record-writer":"057ef80a-af1f-30a5-b899-bc089cad50cc","record-reader":"c0a22d2f-42c0-31e7-93dc-331e6f1bbf62","include-zero-record-flowfiles":"false","dbf-default-scale":"0","Confidential Notes":"SELECT * FROM FLOWFILE where metadata_tags LIKE '%SECURE%'"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Non Confidential Notes":{"name":"Non Confidential Notes","displayName":"Non Confidential Notes","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"Confidential Notes":{"name":"Confidential Notes","displayName":"Confidential Notes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"2c78fc30-8d79-36e7-ae9f-5ee98ec3b65b","instanceIdentifier":"dec6f6e8-5db8-306d-c951-178dfd03f85c","name":"Split Note JSON Objects","comments":"","position":{"x":1192.0,"y":16.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$[*]\""},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"9ebf6f08-902b-3cd2-a7b9-df0b6155b47b","instanceIdentifier":"daaf03e1-7e88-3296-3670-130ab23d929c","name":"MergeRecord","comments":"","position":{"x":1576.0,"y":224.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"max-bin-age":null,"correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"10","max-bin-size":null,"record-writer":"057ef80a-af1f-30a5-b899-bc089cad50cc","merge-strategy":"Bin-Packing Algorithm","record-reader":"c0a22d2f-42c0-31e7-93dc-331e6f1bbf62","max-records":"100","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"f5789442-fc6e-3a14-86fb-a357dea04db3","instanceIdentifier":"da597fc4-3d84-3384-271e-915ea9bd6cf4","name":"Flatten Note JSON","comments":"","position":{"x":1576.0,"y":16.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"page_content\": \"page_content\",\n      \"metadata\": {\n        \"*\": \"metadata_&\"\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"inputPorts":[{"identifier":"ad258ab6-10a2-331b-b9cd-3eaaa5c4e36e","instanceIdentifier":"bce89d6a-ce4a-3c97-d11a-a938d3a17b84","name":"Chunked Notes","comments":"","position":{"x":920.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"outputPorts":[{"identifier":"fcf9372c-4f56-3146-836b-f7f4a7a09e61","instanceIdentifier":"951241bb-acac-3f3d-8fc1-af395240f3bf","name":"Confidential Notes","position":{"x":1776.0,"y":648.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"71a49f0c-a3c0-3d17-a1ed-537beedf7d3f","instanceIdentifier":"3dc7e6d8-14ed-335d-939f-012890823a7d","name":"Non-Confidential Notes","position":{"x":1384.0,"y":648.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"connections":[{"identifier":"81972db6-4803-3e0b-ad93-5c69d689056e","instanceIdentifier":"5f691083-e1ad-3769-b66a-e5d1d1bb3197","name":"","source":{"id":"9ebf6f08-902b-3cd2-a7b9-df0b6155b47b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"MergeRecord","comments":"","instanceIdentifier":"daaf03e1-7e88-3296-3670-130ab23d929c"},"destination":{"id":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Filter for Non Secure Notes","comments":"","instanceIdentifier":"bc99c280-316b-3cef-23f3-8afb5592e2ec"},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"36bd0e56-19a7-3c96-9b44-5fa40203d753","instanceIdentifier":"21f926cb-e792-3e3f-97b9-899823632a96","name":"","source":{"id":"2c78fc30-8d79-36e7-ae9f-5ee98ec3b65b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Split Note JSON Objects","comments":"","instanceIdentifier":"dec6f6e8-5db8-306d-c951-178dfd03f85c"},"destination":{"id":"f5789442-fc6e-3a14-86fb-a357dea04db3","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Flatten Note JSON","comments":"","instanceIdentifier":"da597fc4-3d84-3384-271e-915ea9bd6cf4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1504.0,"y":184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"6e203393-3c19-3708-a6df-540f788aa315","instanceIdentifier":"f3c90cb1-7237-3c8f-fabc-5d1af47bffb5","name":"","source":{"id":"ad258ab6-10a2-331b-b9cd-3eaaa5c4e36e","type":"INPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Chunked Notes","comments":"","instanceIdentifier":"bce89d6a-ce4a-3c97-d11a-a938d3a17b84"},"destination":{"id":"2c78fc30-8d79-36e7-ae9f-5ee98ec3b65b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Split Note JSON Objects","comments":"","instanceIdentifier":"dec6f6e8-5db8-306d-c951-178dfd03f85c"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1200.0,"y":176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"dea7224e-7ad6-3280-822d-f8e38e5b79bd","instanceIdentifier":"eb0e99b5-f3d5-363d-4a56-fe81f5d97987","name":"","source":{"id":"f5789442-fc6e-3a14-86fb-a357dea04db3","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Flatten Note JSON","comments":"","instanceIdentifier":"da597fc4-3d84-3384-271e-915ea9bd6cf4"},"destination":{"id":"9ebf6f08-902b-3cd2-a7b9-df0b6155b47b","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"MergeRecord","comments":"","instanceIdentifier":"daaf03e1-7e88-3296-3670-130ab23d929c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"b2970db7-d9c6-3455-b2ef-1fc0255bc6c0","instanceIdentifier":"cb2e8af0-e35c-3aaa-b389-6a5a55972cb9","name":"","source":{"id":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Filter for Non Secure Notes","comments":"","instanceIdentifier":"bc99c280-316b-3cef-23f3-8afb5592e2ec"},"destination":{"id":"71a49f0c-a3c0-3d17-a1ed-537beedf7d3f","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Non-Confidential Notes","instanceIdentifier":"3dc7e6d8-14ed-335d-939f-012890823a7d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Non Confidential Notes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"},{"identifier":"73b2cce3-ffe7-33c7-ae50-a2e2ffe1662f","instanceIdentifier":"cec60b50-4c46-3f79-fb10-b3953c217d6c","name":"","source":{"id":"788e40fe-b28b-3aef-b6d8-71b6d37318e2","type":"PROCESSOR","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Filter for Non Secure Notes","comments":"","instanceIdentifier":"bc99c280-316b-3cef-23f3-8afb5592e2ec"},"destination":{"id":"fcf9372c-4f56-3146-836b-f7f4a7a09e61","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Confidential Notes","instanceIdentifier":"951241bb-acac-3f3d-8fc1-af395240f3bf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Confidential Notes"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5c09dffb-a736-3741-af30-713af906c0bb"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"}],"remoteProcessGroups":[],"processors":[{"identifier":"3ab87ff2-404a-39b1-895e-749cb4618d70","instanceIdentifier":"9f98d41b-e5ff-3530-28ff-21919476d9ae","name":"Create OpenAI Vector Embeddings","comments":"","position":{"x":144.0,"y":144.0},"type":"python.GetOpenAiVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"OpenAI API Key":"#{vector_embedding_model_service_api_key}","OpenAI Embedding Models":"text-embedding-ada-002","Chunk Size":"1000"},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true},"OpenAI Embedding Models":{"name":"OpenAI Embedding Models","displayName":"OpenAI Embedding Models","identifiesControllerService":false,"sensitive":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"5b2318be-b0e6-3e42-b1ad-0493e2ce2049","instanceIdentifier":"8097962d-3d28-3773-aae9-e731aac92907","name":"Get Evernote Note Path","comments":"","position":{"x":32.0,"y":-352.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Delete Attributes Expression":null,"pdfFile":"${absolute.path}/${filename}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"pdfFile":{"name":"pdfFile","displayName":"pdfFile","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"1c658dc3-736b-3e59-81d7-43b17ac66243","instanceIdentifier":"39ccab5b-5b3d-3c42-e4ba-2873552d67a2","name":"Export Notes from Evernote","comments":"","position":{"x":296.0,"y":-496.0},"type":"python.ExportNotesFromEvernote","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Evernote Authentication Token":"#{evernote_auth_key}","Stack Filter":"#{evernote_stack_filter}","Export from Date/Time":"#{evernote_export_from_dtm}","Export Directory":"#{evernote_export_directory}"},"propertyDescriptors":{"Evernote Authentication Token":{"name":"Evernote Authentication Token","displayName":"Evernote Authentication Token","identifiesControllerService":false,"sensitive":true},"Stack Filter":{"name":"Stack Filter","displayName":"Stack Filter","identifiesControllerService":false,"sensitive":false},"Export from Date/Time":{"name":"Export from Date/Time","displayName":"Export from Date/Time","identifiesControllerService":false,"sensitive":false},"Export Directory":{"name":"Export Directory","displayName":"Export Directory","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"060b3db8-8c9b-38cf-8640-c70002e3465f","instanceIdentifier":"847e7c37-1853-31da-1829-da39fc784667","name":"Audit Secure Notes Not Embedded","comments":"","position":{"x":600.0,"y":144.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"136b6ea9-9ebb-3ec5-9430-a5f91bc3ca9b","instanceIdentifier":"5782daee-ba12-3501-3576-f2ef28aa99b3","name":"Store Vectors In Pinecone","comments":"","position":{"x":136.0,"y":320.0},"type":"python.PutPineconeVectorEmbedding","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"Namepace":"#{pincone_evernote_namespace}","Pinecone API Key":"#{vector_database_service_api_key}","Batch Size":"100","Index Name":"#{pinecone_evernote_index_name}","Pinecone Env Name":"#{vector_database_environment}"},"propertyDescriptors":{"Namepace":{"name":"Namepace","displayName":"Namepace","identifiesControllerService":false,"sensitive":false},"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false},"Pinecone Env Name":{"name":"Pinecone Env Name","displayName":"Pinecone Env Name","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"a4af3302-1a00-3b05-b557-9e2308350346","instanceIdentifier":"764d503d-a580-3660-b6f1-2bc9473d201f","name":"Chunk Evernote Note","comments":"","position":{"x":408.0,"y":-352.0},"type":"python.SplitEvernoteText","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{"PDF Document File":"${pdfFile}","Chunk Overlap":"100","Chunk Size":"1000"},"propertyDescriptors":{"PDF Document File":{"name":"PDF Document File","displayName":"PDF Document File","identifiesControllerService":false,"sensitive":false},"Chunk Overlap":{"name":"Chunk Overlap","displayName":"Chunk Overlap","identifiesControllerService":false,"sensitive":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"ffcfd197-d701-3864-8af3-f58030bba83a","instanceIdentifier":"4864f163-cd42-3ac8-a5d8-dd68e0bee808","name":"Trigger Evernote Export","comments":"","position":{"x":-320.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"60 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"cd31d242-a76d-326b-a44c-8397dc58d5b5","instanceIdentifier":"fe5b7c14-0188-1000-7ffc-8afb0e40ddd0","name":"Listen for New Evernote Notes","comments":"","position":{"x":-336.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-SNAPSHOT"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"#{evernote_export_directory}","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1d2a6211-193b-3b19-9e20-e9a894f1f6a3","instanceIdentifier":"b9d58ae4-d546-3106-afdc-062632e8208f","name":"","source":{"id":"ffcfd197-d701-3864-8af3-f58030bba83a","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Trigger Evernote Export","comments":"","instanceIdentifier":"4864f163-cd42-3ac8-a5d8-dd68e0bee808"},"destination":{"id":"1c658dc3-736b-3e59-81d7-43b17ac66243","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Export Notes from Evernote","comments":"","instanceIdentifier":"39ccab5b-5b3d-3c42-e4ba-2873552d67a2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"aeaf1b8b-fb9e-349b-a197-3ffd3f7338c9","instanceIdentifier":"fe35b4df-0188-1000-6f56-32fa6531996a","name":"","source":{"id":"a4af3302-1a00-3b05-b557-9e2308350346","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Chunk Evernote Note","comments":"","instanceIdentifier":"764d503d-a580-3660-b6f1-2bc9473d201f"},"destination":{"id":"3846639e-3fba-35d3-8ccc-b9649c6c5562","type":"FUNNEL","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Funnel","comments":"","instanceIdentifier":"fe359772-0188-1000-8c9e-3f89da8fd5d2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":888.0,"y":-288.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"471544b8-5745-3aa7-9e20-4ed1a8d77f95","instanceIdentifier":"23287591-68a3-37ad-f501-3633f2431956","name":"","source":{"id":"136b6ea9-9ebb-3ec5-9430-a5f91bc3ca9b","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Store Vectors In Pinecone","comments":"","instanceIdentifier":"5782daee-ba12-3501-3576-f2ef28aa99b3"},"destination":{"id":"d31e5298-b5e3-3ade-b7ef-e54679f42dd4","type":"FUNNEL","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Funnel","comments":"","instanceIdentifier":"92bdff5b-ccb7-3632-1926-773211801166"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"c968dc6e-675e-3255-b771-99fba457fcbd","instanceIdentifier":"273b2deb-afcb-3744-36ab-6fc786832eb7","name":"","source":{"id":"fcf9372c-4f56-3146-836b-f7f4a7a09e61","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Confidential Notes","instanceIdentifier":"951241bb-acac-3f3d-8fc1-af395240f3bf"},"destination":{"id":"060b3db8-8c9b-38cf-8640-c70002e3465f","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Audit Secure Notes Not Embedded","comments":"","instanceIdentifier":"847e7c37-1853-31da-1829-da39fc784667"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"0bdece58-a0c0-3419-bdb6-ac66d9d604be","instanceIdentifier":"553831c8-4932-31f2-c049-60aefce0b479","name":"","source":{"id":"3ab87ff2-404a-39b1-895e-749cb4618d70","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Create OpenAI Vector Embeddings","comments":"","instanceIdentifier":"9f98d41b-e5ff-3530-28ff-21919476d9ae"},"destination":{"id":"d31e5298-b5e3-3ade-b7ef-e54679f42dd4","type":"FUNNEL","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Funnel","comments":"","instanceIdentifier":"92bdff5b-ccb7-3632-1926-773211801166"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"3947d7d7-7577-34eb-a449-800b736d45e3","instanceIdentifier":"0b8b255d-466f-373e-70d1-76cfff33a78a","name":"","source":{"id":"a4af3302-1a00-3b05-b557-9e2308350346","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Chunk Evernote Note","comments":"","instanceIdentifier":"764d503d-a580-3660-b6f1-2bc9473d201f"},"destination":{"id":"ad258ab6-10a2-331b-b9cd-3eaaa5c4e36e","type":"INPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Chunked Notes","comments":"","instanceIdentifier":"bce89d6a-ce4a-3c97-d11a-a938d3a17b84"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"04e78ba8-ed3c-3ba9-9195-27f7a1b08564","instanceIdentifier":"34795960-7de7-30e9-b701-eba824495440","name":"","source":{"id":"71a49f0c-a3c0-3d17-a1ed-537beedf7d3f","type":"OUTPUT_PORT","groupId":"5c09dffb-a736-3741-af30-713af906c0bb","name":"Non-Confidential Notes","instanceIdentifier":"3dc7e6d8-14ed-335d-939f-012890823a7d"},"destination":{"id":"3ab87ff2-404a-39b1-895e-749cb4618d70","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Create OpenAI Vector Embeddings","comments":"","instanceIdentifier":"9f98d41b-e5ff-3530-28ff-21919476d9ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"800b48dd-60c7-3c5f-9069-296c18c192f7","instanceIdentifier":"fe5ba2f3-0188-1000-8ab3-a1f48d5509d7","name":"","source":{"id":"cd31d242-a76d-326b-a44c-8397dc58d5b5","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Listen for New Evernote Notes","comments":"","instanceIdentifier":"fe5b7c14-0188-1000-7ffc-8afb0e40ddd0"},"destination":{"id":"5b2318be-b0e6-3e42-b1ad-0493e2ce2049","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Get Evernote Note Path","comments":"","instanceIdentifier":"8097962d-3d28-3773-aae9-e731aac92907"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-24.0,"y":-168.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"bd7195bc-b6fe-3d60-a574-294809626593","instanceIdentifier":"4864929d-82cb-349f-8b1f-628016ca450a","name":"","source":{"id":"5b2318be-b0e6-3e42-b1ad-0493e2ce2049","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Get Evernote Note Path","comments":"","instanceIdentifier":"8097962d-3d28-3773-aae9-e731aac92907"},"destination":{"id":"a4af3302-1a00-3b05-b557-9e2308350346","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Chunk Evernote Note","comments":"","instanceIdentifier":"764d503d-a580-3660-b6f1-2bc9473d201f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":320.0,"y":-176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"ea4a6150-5756-3daa-ac6d-da950fdf3f43","instanceIdentifier":"43ea02a0-3b11-3822-84f3-a77268e2635b","name":"","source":{"id":"3ab87ff2-404a-39b1-895e-749cb4618d70","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Create OpenAI Vector Embeddings","comments":"","instanceIdentifier":"9f98d41b-e5ff-3530-28ff-21919476d9ae"},"destination":{"id":"136b6ea9-9ebb-3ec5-9430-a5f91bc3ca9b","type":"PROCESSOR","groupId":"69f9b8aa-6793-3eeb-9a89-3a883891d055","name":"Store Vectors In Pinecone","comments":"","instanceIdentifier":"5782daee-ba12-3501-3576-f2ef28aa99b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"}],"labels":[],"funnels":[{"identifier":"c20c28ea-0706-37f5-9b06-a2902a471da0","instanceIdentifier":"218595b8-9ad3-3f24-df66-4b80bfe0b62a","position":{"x":-1024.0,"y":-8.0},"componentType":"FUNNEL","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"c7a5472b-d876-3e36-b9cf-428c262f33cb","instanceIdentifier":"5f81296c-903d-370b-6416-1e634ad06838","position":{"x":480.0,"y":928.0},"componentType":"FUNNEL","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"3846639e-3fba-35d3-8ccc-b9649c6c5562","instanceIdentifier":"fe359772-0188-1000-8c9e-3f89da8fd5d2","position":{"x":864.0,"y":-224.0},"componentType":"FUNNEL","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"d31e5298-b5e3-3ade-b7ef-e54679f42dd4","instanceIdentifier":"92bdff5b-ccb7-3632-1926-773211801166","position":{"x":-152.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"}],"controllerServices":[{"identifier":"057ef80a-af1f-30a5-b899-bc089cad50cc","instanceIdentifier":"5acd9917-e1d9-3d4e-2cd5-ce66d33e3dd8","name":"EvernoteJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-SNAPSHOT"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"schema-text":"#{evernote_schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-SNAPSHOT"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"},{"identifier":"c0a22d2f-42c0-31e7-93dc-331e6f1bbf62","instanceIdentifier":"82871a7e-3a44-3bc2-3afe-1b1c41912b89","name":"EvernoteJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-SNAPSHOT"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"#{evernote_schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-SNAPSHOT"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"69f9b8aa-6793-3eeb-9a89-3a883891d055"}],"variables":{},"parameterContextName":"VectorEmbeddingsIngestion","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"VectorEmbeddingsIngestion":{"name":"VectorEmbeddingsIngestion","parameters":[{"name":"pinecone_evernote_index_name","description":"","sensitive":false,"provided":false,"value":"book-demo"},{"name":"vector_database_environment","description":"","sensitive":true,"provided":false},{"name":"evernote_export_directory","description":"","sensitive":false,"provided":false,"value":"/Users/gvetticaden/Dropbox/Hortonworks/evernotes"},{"name":"evernote_stack_filter","description":"","sensitive":false,"provided":false,"value":"Home"},{"name":"vector_embedding_model_service_api_key","description":"","sensitive":true,"provided":false},{"name":"evernote_auth_key","description":"","sensitive":true,"provided":false},{"name":"evernote_export_from_dtm","description":"","sensitive":false,"provided":false,"value":"2010-06-21 12:00:00"},{"name":"evernote_schema","description":"","sensitive":false,"provided":false,"value":"{\n  \"type\": \"record\",\n  \"name\": \"Note\",\n  \"fields\": [\n    {\n      \"name\": \"page_content\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"metadata_title\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"metadata_created\",\n      \"type\": \"long\"\n    },\n    {\n      \"name\": \"metadata_updated\",\n      \"type\": \"long\"\n    },\n    {\n      \"name\": \"metadata_tags\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"metadata_source\",\n      \"type\": \"string\"\n    }\n  ]\n}"},{"name":"vector_database_service_api_key","description":"","sensitive":true,"provided":false},{"name":"pincone_evernote_namespace","description":"","sensitive":false,"provided":false,"value":"evernote_export_via_api_20"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}